.padding-10 {
  padding: 10px;
}

.margin-10 {
  margin: 10px;
}

.d-flex {
  display: flex;
}

.italic {
  font-style: italic;
}

.flex-col {
  flex-direction: column;
}

table,
th,
td {
  border: 1px solid;
}
